.card {
  box-shadow: 2px 5px 5px #d3d3d3;
  color: #fff;
  flex-direction: column;
  height: 180px;
  overflow-y: scroll;
  position: relative;
  padding: 0.5em;
  width: 180px;
}
.card__button {
  bottom: 0;
  margin: 0.5em;
  position: absolute;
  right: 0;
}
