.app {
  padding: 2em;
}
.app__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-bottom: 0.5em;
}
.app__left-column {
  border-right: solid 2px black;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
}
.app__right-column {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
}
.app__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}
