.app {
  background-color: #d4e4fd;
  padding: 2em;
}
.app__header {
  align-items: center;
  color: #122035;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-bottom: 0.5em;
}
.app__left-column {
  background-color: #fff;
  border: solid 2px #d3d3d3;
  color: #4a70bb;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}
.app__right-column {
  background-color: #fff;
  border: solid 2px #d3d3d3;
  color: #f4c031;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}
.app__main {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}
